version: '3.8'

services:
  frontend:
    container_name: frontend
    build: ./frontend
    ports:
      - "3000:3000"

  nginx:
    container_name: nginx
    build: ./api-gateway/nginx
    ports:
      - "80:80"

  auth:
    container_name: auth
    build: ./api-gateway/auth

  mysql:
    container_name: mysql
    build: ./mysql
